{{ define "content" }}
<form method="post" action="/account" class="flex max-w-sm flex-col gap-5">
    <label class="field">Username <input class="input" name="username" value="{{ .User.Username }}" required autocomplete="username"></label>
    <label class="field">Display name <input class="input" name="name" value="{{ .User.Name }}" autocomplete="name"></label>
    <div><button type="submit" class="btn">Save</button></div>
</form>
<p class="hint"><a href="{{ .PasswordURL }}">Change your password</a></p>
{{ end }}
