{{ define "content" }}
{{ if .CanCreate }}<div class="flex justify-end"><a href="{{ .NewUserURL }}" class="as-button">{{ template "mdi-plus.svg" }}New user</a></div>{{ end }}
<div class="overflow-x-auto">
    <table class="as-table">
        <thead><tr><th>Username</th><th>Name</th><th></th></tr></thead>
        <tbody>
        {{ range .Users }}
            <tr>
                <td>{{ .Username }}</td>
                <td class="text-muted">{{ .Name }}</td>
                <td class="text-right"><a href="{{ path "/admin/users/" }}{{ .ID }}" class="as-button variant-outlined size-sm">Roles</a></td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
